* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #efefef;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.player {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  height: 60px;
  background: #fff;
}

.player-name {
  padding: 0 1em;
}

.counter {
  height: 100%;
  display: flex;
  align-items: center;
}

.counter-action {
  height: 100%;
  width: 45px;
  border: none;
  font-size: 2em;
  color: grey;
  cursor: pointer;
}
.counter-action:hover {
  background: grey;
  color: #fff;
}
.counter-action:focus {
  outline: none;
}

.counter-score {
  padding: 0 1em;
}

.scoreboard {
  width: 60%;
  margin: 100px auto;

  border-bottom: 2px solid grey;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: grey;
  color: #fff;
}

header h1 {
  padding: 0 5em;
}

